@media screen and (max-width: 736px) {
  .container__big-card {
    display: flex;
    flex-direction: column;
  }
  .big-card__photo > img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-height: fit-content;
  }
  .big-card__date {
    flex-direction: column;
    padding: 0 1rem 0 1rem;
  }
}
