<app-menu-bar></app-menu-bar>
<div class="container">
  <app-menu-title></app-menu-title>
  <div class="articles">
    <div class="articles__main">
      <app-big-card
        Id="1"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a123456.jpg"
        cardTitle="Linha 4080 difícil vender!"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates amet
      illum nihil fuga at ut ad nulla aspernatur. Atque placeat doloribus
      distinctio dicta ipsa debitis..."
      ></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        Id="2"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a122.jpg"
        cardTitle="O metaverso é o futuro?"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita incidunt placeat praesentium rem, debitis nam in a qui facilis dolorum ea amet quia vero! Magnam blanditiis laudantium ipsam a vitae..."
      ></app-small-card>
      <app-small-card
        Id="3"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a3.jpg"
        cardTitle="Java Script será a linguagem eterna"
        cardDescription="Accusamus recusandae facere dicta, nesciunt quisquam rem quod! Quo earum delectus placeat, blanditiis natus ratione facilis ad nam amet accusantium, mollitia pariatur, eos quod iste alias ab sit eius distinctio..."
      ></app-small-card>
      <app-small-card
        Id="4"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a124.jpg"
        cardTitle="Como os robôs ajudam atualmente"
        cardDescription="Eius quaerat, adipisci architecto ut iste suscipit aperiam debitis facilis odit, dolores, quis fuga quo corrupti? Vel, quis sed quia, deleniti blanditiis, molestiae sapiente voluptas ab assumenda voluptatem obcaecati optio..."
      ></app-small-card>
      <app-small-card
        Id="5"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a1.jpg"
        cardTitle="Eletrônica digital para você"
        cardDescription="Sint sed, est eius doloribus iusto optio quam sequi et amet deserunt expedita culpa ducimus voluptate assumenda dolor dignissimos ad magni porro id tenetur deleniti aut autem maiores corporis! Sint..."
      ></app-small-card>
      <app-small-card
        Id="6"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a2.jpg"
        cardTitle="Humanóides aposta da Tesla"
        cardDescription="Exercitationem amet dignissimos consequuntur, eligendi, dolorum soluta fuga id tempora quis dolorem deserunt facere explicabo? Assumenda, exercitationem facilis earum maxime, cum porro repellat, rerum beatae eveniet dolores quidem libero consectetur..."
      ></app-small-card>
      <app-small-card
        Id="7"
        cardTime="Dezembro 7, 2022"
        photoCover="../../../assets/imagens/a123.jpg"
        cardTitle="Inteligência Artificial, a treta"
        cardDescription="Minus non ad officiis facilis? Nulla, vel. Ad asperiores minima magni accusantium odio eius ipsam dolore velit blanditiis? Vero sint quos eaque harum vitae, doloribus possimus voluptates placeat impedit nulla..."
      ></app-small-card>
      <!-- <app-small-card *ngFor="let i "></app-small-card> -->
    </div>
  </div>
</div>
