.container {
  background-color: #e3e6ec;
  height: fit-content;
  width: 100%;
  max-width: 850px;
  margin: 0 auto 3rem auto;
  padding: 0 100px 100px 100px
}

.articles__others {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
