<div class="container__menu">
  <div class="menu__logo">
    <img src="../../../assets/imagens/logo.png" alt="">
  </div>
  <ul>
    <li><a href="https://www.judenilson.com.br" target="_blank">Home</a></li>
    <li><a [routerLink]="['']">Blog</a></li>
    <li><a href="https://www.linkedin.com/in/judenilson/" target="_blank">Linkedin</a></li>
    <li><a href="https://github.com/Judenilson" target="_blank">Github</a></li>
    <li><a href="https://www.youtube.com/c/JudenilsonAraujo1" target="_blank">youtube</a></li>
  </ul>
</div>
